<div class="container-fluid">
<%= image_tag ("img.png"), class: "rounded mx-auto d-block imgwidth rounded" %>
</div>
<br>
<div class="container">
<div class="row">
  <div class="card col-9 cardheight">
    <div class="card-body" id="msg">
      <div id="chatcontainer">
      <%= render 'layouts/chatmsg' %>
      </div>
      <%= form_for(@message, html: {class: "content", role: "form"}, url: message_path , remote: true) do |f| %>

        <div class="input-group mb-3 jointop ">
          <%= f.text_field :body, class: "col-11 inputbottom form-control" %>
          <div class="input-group-append">
            <%= f.button "Send" , class: "btn btn-primary inputbottom btn-outline-secondary" %>
          </div>
        </div>

        <% end %>
    </div>
  </div>

  <div class="card col-3 cardheight">
  <div class="card-body ">
    <div class="content">
    <nav class ="navbar bg-light">
      <ul class ="nav navbar-nav">
          <li class ="nav-item " id="lihover" >
          <a class ="nav-link" href="#"> Home </a>
        </li>
        <li class ="nav-item" id="lihover">
          <a class ="nav-link" href="#"> Services </a>
        </li>
        <li class ="nav-item " id="lihover">
          <a class ="nav-link" href="#"> Contact </a>
        </li>
        <li class ="nav-item" id="lihover">
          <a class ="nav-link" href="#"> Blogs </a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
  </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    scroll_bottom = function ()
    {
        if($('#msg').length > 0)
        {
            $('#msg').scrollTop($('#msg')[0].scrollHeight);
        }
    }

    submit_message = function ()
    {
        $('#message_body').on('keydown', function (e)
        {
            if( e.keyCode == 13)
            {
                $('button').click();
                e.target.value= " ";
            }
        })
    }

    $( document ).ready(function() {

        scroll_bottom();
        submit_message();
    });

</script>